@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Oswald';
    src: url(../public/fonts/oswald/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Lato';
    src: url(../public/fonts/lato/Lato-Regular.ttf);
}

body {
    background-color: #090909;
}

.hu__hu__ { animation: hu__hu__ infinite 2s ease-in-out }
@keyframes hu__hu__ {
    50% { transform: translateY(30px) }
}

.no-scroll {
    overflow-y: hidden;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }



  
  nav a {
    text-decoration: none;
    display: block;
    transition: .3s linear;
  }
  
  .topmenu > li > a.active, 
  .submenu a:hover {color: #F39F30;}
  
  .submenu {
    position: absolute;
    z-index: 5;
    min-width: 200px;
    background: white;
    border-top: 1px solid #CBCBCC;
    border-left: 1px solid #CBCBCC;
    border-right: 1px solid #CBCBCC;
    visibility: hidden;
    opacity: 0; 
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .3s linear;  
  }
  .submenu li {position: relative;}
  .submenu li a {
    color: #282828;
    padding: 10px 20px;
    font-size: 15px;
    border-bottom: 1px solid #CBCBCC;
  }
  .submenu .submenu {
    position: absolute;
    left: 100%;
    top: -1px;
    transition: .3s linear;
  }
  nav li:hover > .submenu {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
  }